.chat-main
  .chat-main__header
    .chat-main__header__edit-btn
      = link_to "Edit", "edit"
  
    .chat-main__header__left-box
      .chat-main__header__left-box__current-group
        %h3= @group.name

      %ul.chat-main__header__left-box__member-list
        Member:
        %li.chat-main__header__left-box__member-list__member
          - @group.users.each do |user|
            = user.name
          
  .messages
    = render @messages
  
  .chat-main__form
    = form_for [@group,@message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: "type a message"
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'